<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Linking the css-->
    <link rel="stylesheet" href="newfile.css">
    <!--Importing Vuejs-->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <title>Chelsea TV</title>
</head>

<body>
    <div id="app" class="tv">
        <div class="screen">
            <h1>{{message}}</h1>
            <div v-if="on==true" class="displayshow">
                <div v-for="(footballshowchannel, index) in footballshowchannels">
                    <iframe :src="footballshowchannel" v-show="visible==index" alt="" class="frame" width="100%" height="300px"></iframe>
                </div>
            </div>
            <div>
                <button v-on:click="off" type="button" class="chelseaoff">On</button>
            </div>

            <div class="buttons">
                <button @click="previous" type="button" class="chelseaprev">Prev</button>
            </div>

            <div>
                <button @click="next" type="button" class="chelseanext">Next</button>
            </div>
        </div>

    </div>

    <script src="vue.js"></script>
    <script src="scripts.js"></script>
</body>

</html>